* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: fit-content;

  display: flex;
  flex-direction: column;
  background-color: #dbe4ea;
}
.empty_brown {
  height: 8vh;
  width: 100%;
  background-color: #754c28;
  text-align: center;
  padding-top: 1rem;
  font-size: 20px;
  color: gainsboro;
}
main {
  width: 90%;
  margin: auto;
  height: 85vh;
}
.head {
  position: absolute;
  top: 12%;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 30%;
}
.profile {
  height: 100%;
  width: 14%;
  border-radius: 16px;
  background-color: #754c28;
  border: 5px solid gainsboro;
}

#profileImage {
  height: inherit;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}
#imageUpload {
  display: none;
}
.sub_status {
  height: 30vh;

  font-weight: bold;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sub_inner_ {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.sub_status > div {
  display: flex;
  align-items: center;
}
.viewAll {
  width: 8rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  margin-left: 20px;
  box-shadow: 4px 4px 3px -2px rgb(206, 205, 205), 0 0 10px rgba(0, 0, 0, 0.1);
}
.viewAll:hover {
  background-color: #754c28;
  color: white;
  transition: all 2s;
}

.nav_container {
  height: 64%;
  width: 89%;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 5px solid gainsboro;
  background-color: #754c28;
  position: absolute;
  /* border-bottom: 0; */
  top: 36%;
  right: 0%;
  z-index: 2;
  display: flex;
}
.textId {
  position: absolute;
  top: 1%;
  left: 17%;
  color: hsl(32, 70%, 21%);
  /* border: 1px solid yellow; */
}
.inner_nav {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header {
  margin-bottom: 2%;
  color: whitesmoke;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#nav > button {
  /* border: 1px solid green; */
  width: fit-content;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid gainsboro;
  color: white;
  display: block;
  background-color: #754c28;
  z-index: 4;
}
.active {
  background-color: gainsboro !important;
  color: #754c28 !important;
  transition: all 1s;
}
.current_display {
  width: 100%;
  /* border: 1px solid green; */
  position: absolute;
  top: 45%;
  width: 90%;
  height: 45%;
  display: grid;
  grid-template-rows: repeat(1, auto);
}
table {
  border-collapse: collapse;
  align-items: center;
}
th {
  text-decoration: underline;
}
tr {
  align-items: center;
  text-align: center;
}
.btn {
  width: fit-content;
  padding: 0.5rem;
  background-color: #754c28;
  color: white;
  margin: 10px;
  align-self: center;
  border-radius: 7px;
}
.btn1 {
  width: fit-content;
  padding: 0.5rem;
  background-color: #754c28;
  color: white;
  margin: 10px;
  align-self: center;
  border-radius: 7px;
}
.registered {
  display: table;
}
.completed_course {
  display: none;
}
.postponed_course {
  display: none;
}
.titled {
  text-decoration: underline;
}
.Blog {
  height: 50vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-self: center;
  /* border: 1px solid red; */
}

p {
  margin: 10px;
}
.titled {
  margin-bottom: 16px;
}
.learnMore {
  font-weight: bold;
  position: relative;
  left: 90%;

  width: fit-content;

  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 -3em 3em rgb(0 0 0 / 20%), 0 0 0 1px rgb(117 76 40),
    0.3em 0.3em 1em rgb(117 76 40 / 90%);
}
.learnMore:hover {
  background-color: #754c28;
  color: white;
  transition: all 2s;
}
